#calculator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 300px;
  height: 285px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aqua;
}

input {
  width: 296px;
  height: 25px;
  outline: none;
  border: none;
  color: #fff;
  background-color: rgb(83, 90, 114);
}

.answer {
  width: 98.6%;
  height: 25px;
  margin-top: 0;
  padding-right: 5px;
  font-size: 20px;
  text-align: right;
  color: #fff;
  background-color: rgb(83, 90, 114);
}

.numbers-and-symbols {
  width: 100%;
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.size {
  width: 24.3385%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: rgb(222, 217, 217);
}

.zero {
  width: 49.334%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: rgb(222, 217, 217);
}

.orabg-bg {
  background-color: rgb(252, 117, 14);
}
